<div class="about" id="about">
    <div class="upper">
        <div class="background">
            <div class="blur">
                <div class="left">
                </div>
                <div class="right">
                    <h1>Acerca de Nosotros</h1>
                    <p>Misión: El Centro Educativo Virginina Woolf pone al alcance de todos la oportunidad de cursar sus estudios de bachillerato en línea, con la libertad de estudiar a tu propio ritmo y espacio a través del aprovechamiento de las nuevas tecnologías.
                    </p>
                    <p>Visión: Ser una institución con altos índices de calidad, actualización tecnológica y digital, donde las personas logren una formación integral, logrando un egreso que los distinga.</p>
                    <button class="btn">Conocenos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="review">
    <div class="bottom">
        <div class="section">
            <div>
                <h3>Reseñas de estudiantes</h3>
                <h1>Que dicen los estudiantes</h1>
                <p>Que piensa la gente sobre nosotros y nuestros programas educativos</p>
            </div>
            <div class="carrousell">
                <div class="prev">
                    <button>
                        <span class="material-symbols-outlined">
                            arrow_back_ios_new
                        </span>
                    </button>
                </div>
                <div class="student_pic">
                    <img src="img/profile1.jpg" alt="">
                </div>
                <div class="student_pic">
                    <img src="img/profile2.jpg" alt="">
                </div>
                <div class="student_pic">
                    <img src="img/profile3.jpg" alt="">
                </div>
                <div class="student_pic">
                    <img src="img/profile4.jpg" alt="">
                </div>
                <div class="student_pic">
                    <img src="img/profile5.jpg" alt="">
                </div>
                <div class="next">
                    <button>
                        <span class="material-symbols-outlined">
                            arrow_forward_ios
                        </span>
                    </button>
                </div>
            </div>
            <div class="footer-carrousell">
                <h3>Juan Gonzales</h3>
                <h3>Estudiante</h3>
                <button class="btn">Ver</button>
            </div>
        </div>
    </div>
</div>

