.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D8C83; /* El color verde de fondo */
    padding: 20px;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .stat-item i {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .stat-text h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .stat-text p {
    margin: 0;
    font-size: 16px;
  }
  
  .news-section {
    text-align: center;
    color: white;
    margin-top: 20px;
    background-color: #16868082;
    padding: 20px;
    border-radius: 8px;
  }
  
  .news-section h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-width: 100%;
  }
  
  .news-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .news-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: left;
  }
  
  .news-content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .news-content p {
    margin: 0;
    font-size: 14px;
  }
  
  /* Media Queries para Responsividad */
  @media (max-width: 1024px) {
    .news-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 20px;
    }
  
    .news-item {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .news-section h2 {
      font-size: 36px;
    }
  
    .news-item {
      width: 100%;
      height: auto;
    }
  
    .news-content h3 {
      font-size: 16px;
    }
  
    .news-content p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .news-section h2 {
      font-size: 30px;
    }
  
    .news-item {
      width: 100%;
      height: auto;
    }
  
    .news-content h3 {
      font-size: 14px;
    }
  
    .news-content p {
      font-size: 10px;
    }
  }
  