<div class="stats-container">
    <div class="stat-item">
      <i class="fas fa-graduation-cap"></i>
      <div class="stat-text">
        <h3>500+</h3>
        <p>Estudiantes</p>
      </div>
    </div>
    <div class="stat-item">
      <i class="fas fa-briefcase"></i>
      <div class="stat-text">
        <h3>100+</h3>
        <p>Cursos</p>
      </div>
    </div>
    <div class="stat-item">
      <i class="fas fa-star"></i>
      <div class="stat-text">
        <h3>4.9</h3>
        <p>Valoración</p>
      </div>
    </div>
    <div class="stat-item">
      <i class="fas fa-desktop"></i>
      <div class="stat-text">
        <h3>500+</h3>
        <p>Lugares</p>
      </div>
    </div>
  </div>
  
  <div class="news-section">
    <h2>Noticias y eventos</h2>
    <div class="news-grid">
      <div class="news-item">
        <img src="/img/school.jpeg" alt="Deportes">
        <div class="news-content">
          <h3>Mantenimiento de escuelas necesita 46,551 millones de pesos anuales.</h3>
          <p>08 de octubre de 2024</p>
        </div>
      </div>
      <div class="news-item">
        <img src="/img/porcentaje.jpeg" alt="Aniversario">
        <div class="news-content">
          <h3>Inscritos en escuela, 55.7% de población de 15 a 19 años.</h3>
          <p>11 de septiembre de 2024</p>
        </div>
      </div>
      <div class="news-item">
        <img src="/img/porcentaje2.png" alt="Investigación">
        <div class="news-content">
          <h3>Sólo 22% de los mexicanos tiene algún grado de estudios superiores.</h3>
          <p>18 de septiembre de 2024</p>
        </div>
      </div>
      <div class="news-item">
        <img src="/img/equidad.jpeg" alt="Viajes">
        <div class="news-content">
          <h3>Equidad e inclusión para redireccionar la educación.</h3>
          <p>16 de septiembre de 2024</p>
        </div>
      </div>
    </div>
  </div>
  