<div class="stats-container">
    <div class="stat-item">
      <i class="fas fa-graduation-cap"></i>
      <div class="stat-text">
        <h3>500+</h3>
        <p>Estudiantes</p>
      </div>
    </div>
    <div class="stat-item">
      <i class="fas fa-briefcase"></i>
      <div class="stat-text">
        <h3>100+</h3>
        <p>Cursos</p>
      </div>
    </div>
    <div class="stat-item">
      <i class="fas fa-star"></i>
      <div class="stat-text">
        <h3>4.9</h3>
        <p>Valoración</p>
      </div>
    </div>
    <div class="stat-item">
      <i class="fas fa-desktop"></i>
      <div class="stat-text">
        <h3>500+</h3>
        <p>Lugares</p>
      </div>
    </div>
  </div>
  
  <div class="news-section">
    <h2>Noticias y eventos</h2>
    <div class="news-grid">
      <div class="news-item">
        <img src="/img/Deportes.jpg" alt="Deportes">
        <div class="news-content">
          <h3>Equipo de Basquetbol logra conseguir su primer título de la temporada.</h3>
          <p>5 de julio de 2024</p>
        </div>
      </div>
      <div class="news-item">
        <img src="/img/Aniversario.jpg" alt="Aniversario">
        <div class="news-content">
          <h3>Se celebrará nuestro 5to aniversario.</h3>
          <p>5 de septiembre de 2024</p>
        </div>
      </div>
      <div class="news-item">
        <img src="/img/Investigacion.jpg" alt="Investigación">
        <div class="news-content">
          <h3>Se inaugura el nuevo centro de investigación.</h3>
          <p>10 de junio de 2024</p>
        </div>
      </div>
      <div class="news-item">
        <img src="/img/Viajes.jpg" alt="Viajes">
        <div class="news-content">
          <h3>Se abre convocatoria para beca al extranjero.</h3>
          <p>15 de octubre de 2024</p>
        </div>
      </div>
    </div>
  </div>
  