.navbar {
  font-family: 'Cabrion', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 2px solid #ccc;
  position: fixed; /* Hacemos la barra fija */
  top: 0;          /* Fija en la parte superior */
  width: 100%;     /* La barra ocupa todo el ancho */
  z-index: 1000;   /* Aseguramos que la barra esté por encima del contenido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agregamos una sombra sutil para destacar */
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #6c757d;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #168680;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.subscribe-button {
  background-color: #168680;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 1rem;
}

.subscribe-button:hover {
  background-color: #00332c;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;  /* Cambia el diseño a columnas en móviles */
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: row;  /* El menú se queda horizontal */
    overflow-x: auto;     /* Añade scroll horizontal si hay más elementos */
    width: 100%;
    justify-content: space-between;
  }

  .nav-item {
    margin: 0.5rem;  /* Reducimos el espacio entre elementos */
  }

  .subscribe-button {
    margin-top: 1rem;  /* Ajustamos el botón en móviles */
  }
}
