<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link active" routerLink="/inicio">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/convocatorias">Convocatorias</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/conocenos">Conócenos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contactanos">Contáctanos</a></li>
    </ul>
    <div class="nav-actions">
      <div class="search-container">
        <input class="search-input" type="text" />
      </div>
      <button class="subscribe-button">Inscríbete ya</button>
    </div>
  </nav>
  