<div class="background">
    <div class="blur">
        <div class="container">
            <h3>
                ¡Conócenos!
            </h3>
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre:">
            <input type="text" name="Telefono" id="Telefono" placeholder="Telefono:">
            <input type="text" name="Municipio" id="Municipio" placeholder="Municipio:">
            <input type="text" name="Mail" id="Mail" placeholder="Mail:">
            <input type="text" name="Ciudad" id="Ciudad" placeholder="Ciudad:">
            <input type="text" name="Estado" id="Estado" placeholder="Estado:">
            <input type="text" name="ProgramaEducativo" id="ProgramaEducativo" placeholder="Programa Educativo:">
        </div>
    </div>
</div>
