<div class="enroll-section">
    <div class="left-half">
        <p class="title">¡Inscripciones<br> Abiertas!</p>
        <div class="desc-container">
            <p class="desc-text">Inicio del periodo de clases de inglés: 19 de Octubre de 2024 <br> Date prisa antes de que se termine el periodo de inscripciones</p>
            
        </div>
        <p class="subtitle">¡Únete a nuestra comunidad educativa!</p>
        <div class="btn-container">
            <a class="btn" routerLink="/ingles">Mas información</a>
        </div>
    </div>
    <div class="right-half">
        <img src="/img/enrollSection.png" alt="Image" class="circle-image">
    </div>
</div>
