<div class="enroll-section" id="enrollSection">
    <div class="left-half">
        <p class="title">¡Inscripciones<br> Abiertas!</p>
        <div class="desc-container">
            <p class="desc-text">Inicio del periodo de Inscripcion: 1 de Agosto de 2024 <br> Fin del periodo de Inscripcion: 31 de Diciembre de 2024</p>
            
        </div>
        <p class="subtitle">¡Únete a nuestra comunidad educativa!</p>
        <div class="btn-container">
            <a class="btn" [routerLink]="[]" fragment="contactanos">Mas información</a>
        </div>
    </div>
    <div class="right-half">
        <img src="/img/enrollSection.png" alt="Image" class="circle-image">
    </div>
</div>
