<div class="section-title">
    <h2><span class="highlight">P</span>rogramas académicos</h2>
  </div>
  
  <div class="programas-academicos">
      <div class="programas-grid">
          <div class="programa">
              <h3>Educación <span>Primaria</span></h3>
              <img src="/img/primaria.jpg" alt="Educación Primaria">
              <div class="info">
                  <button class="btn-mas-info">Mas información</button>
              </div>
          </div>
          <div class="programa">
              <h3>Educación <span>Secundaria</span></h3>
              <img src="/img/secundaria.jpg" alt="Educación Secundaria">
              <div class="info">
                  <button class="btn-mas-info">Mas información</button>
              </div>
          </div>
          <div class="programa">
              <h3>Educación <span>Preparatoria</span></h3>
              <img src="/img/prepa.jpg" alt="Educación Preparatoria">
              <div class="info">
                  <button class="btn-mas-info">Mas información</button>
              </div>
          </div>
      </div>
  </div>
  