<div class="section-title" id="academic">
    <h2><span class="highlight">P</span>rogramas académicos</h2>
</div>  
<div class="programas-academicos">
    <div class="programas-grid">
        <div class="programa">
            <h3> <strong>Clases</strong> <span> de Inglés</span></h3>
            <img src="/img/Materias-Primaria/Ingles.jpg" alt="Educación Primaria">
            <div class="info">
                <a routerLink="/ingles" class="btn-mas-info">Más información</a>
            </div>
        </div>
        <div class="programa">
            <h3> <strong>Proximamente</strong> <span></span></h3>
            <img src="/img/secundaria.jpg" alt="Educación Secundaria">
            <div class="info">
                <a routerLink="/proximamente" class="btn-mas-info">Más información</a>
            </div>
        </div>
        <div class="programa">
            <h3> <strong>Proximamente</strong> <span></span></h3>
            <img src="/img/prepa.jpg" alt="Educación Preparatoria">
            <div class="info">
                <a routerLink="/proximamente" class="btn-mas-info">Más información</a>
            </div>
        </div>
    </div>
</div>
